Flask==3.0.3
gunicorn==23.0.0

# Core Data & ML
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
statsmodels==0.14.3
matplotlib==3.9.2
seaborn==0.13.2

# Flask internals
werkzeug==3.0.4
itsdangerous==2.2.0
jinja2==3.1.4

# LangChain / LLM
langchain==0.2.11
langchain-core==0.2.23
langchain-community==0.2.6
langchain-text-splitters==0.2.4
langchain-groq
langgraph
langsmith==0.1.147

python-dotenv
